fastapi
python-dotenv
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
python-dotenv
youtube-transcript-api
openai
bcrypt
passlib
google-generativeai
python-multipart
minio
pytubefix
ffmpeg
setuptools-rust
psutil
pydub

replicate
APScheduler==3.10.1