fastapi
python-dotenv
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
youtube-transcript-api
openai
bcrypt
passlib
google-generativeai
python-multipart
minio
pytubefix
ffmpeg
setuptools-rust
psutil
pydub
replicate
APScheduler==3.10.1
celery>=5.3.1
redis>=4.6.0