fastapi
python-dotenv
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
python-dotenv
youtube-transcript-api
openai
bcrypt
passlib
# to be deleted
google-generativeai
python-multipart
minio
pytubefix